{% extends 'base.html' %}

{% block content %}

<h3 class="page-title">Change Password</h3>

<div class="card p-4" style="max-width: 500px;">

<form method="POST">

<input type="password" name="current_password" class="form-control mb-3" placeholder="Current Password">

<input type="password" name="new_password" class="form-control mb-3" placeholder="New Password">

{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

<button class="btn btn-primary w-100">Update Password</button>

</form>

</div>

{% endblock %}
