{% extends 'base.html' %}

{% block content %}

{% if current_user.role == 'manager' %}

<h3 class="page-title">Manage Tasks</h3>

<div class="card p-3 mt-3">

<form method="POST" class="row g-3">

    <div class="col-md-5">
        <input name="name" class="form-control" placeholder="Task name" required>
    </div>

    <div class="col-md-5">
        <input name="suggested_time" class="form-control" placeholder="Estimated time (e.g. 2 hrs)" required>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100">Add</button>
    </div>

</form>

</div>

<div class="card mt-3 p-3">

<table class="table table-hover align-middle">
    <tr>
        <th>Task</th>
        <th>Estimated Time</th>
        <th>Action</th>
    </tr>

    {% if tasks %}
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.suggested_time }}</td>
            <td>
                <a href="/delete_task/{{ task.id }}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2" class="text-center text-muted">
                No tasks added yet
            </td>
        </tr>
    {% endif %}
</table>

</div>

{% endif %}

{% endblock %}
