{% extends 'base.html' %}

{% block content %}

<h3>Manage Tasks</h3>

<div class="card p-3 mt-3">

<form method="POST" class="row g-3">

    <div class="col-md-5">
        <input name="name" class="form-control" placeholder="Task name" required>
    </div>

    <div class="col-md-5">
        <input name="time" class="form-control" placeholder="Estimated time" required>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100">Add</button>
    </div>

</form>

</div>

<div class="card mt-3 p-3">

<table class="table table-striped">
    <tr>
        <th>Task</th>
        <th>Estimated Time</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.suggested_time }}</td>
    </tr>
    {% endfor %}
</table>

</div>

{% endblock %}
