{% extends 'base.html' %}

{% block content %}

<h3>Report Details</h3>

<div class="card p-3 mt-3">

<p><strong>Employee:</strong> {{ user.username }}</p>
<p><strong>Date:</strong> {{ report.date }}</p>

</div>

<div class="card mt-3 p-3">

<table class="table table-bordered">
    <tr>
        <th>Task</th>
        <th>Time</th>
        <th>Notes</th>
    </tr>

    {% for t in tasks %}
    <tr>
        <td>{{ task_names[t.task_id] }}</td>
        <td>{{ t.actual_time }}</td>
        <td>{{ t.notes }}</td>
    </tr>
    {% endfor %}
</table>

</div>

{% endblock %}
